// ---------- Reset styles

html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include breakpoint(md) {
    font-size: 85%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  @include regular-text;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  @include regular-text;
  margin: 0 0 $space;
}

a {
  color: $black;
  text-decoration: none;
  transition: background-color $transition300ms ease-in;

  &:hover,
  &:focus {
    color: $black;
    background-color: $yellow;
  }
}

img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

i {
  background-color: $yellow;
}

figure {
  margin: 0;
  padding: 0;
  margin-bottom:  $space;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.space {
  height: 0;
  margin: 0;
  padding: 0;
}
