.burger {
  min-width: 24px;
  height: 16px;
  margin-top: 5px;
  margin-left: $space;
  position: relative;
  display: none;
  cursor: pointer;

  @include breakpoint(md) {
    display: inline-block;
  }

  &__line {
    width: 100%;
    height: 3px;
    display: inline-block;
    position: absolute;
    background-color: $black;
    opacity: 1;
    transition: $transition300ms ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 6px;
    }

    &:nth-child(4) {
      top: 12px;
    }
  }

  &.--open {
    .burger__line {
      &:nth-child(1),
      &:nth-child(4) {
        opacity: 0;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
