.images {
  margin-bottom: $space;

  img {
    display: block;
  }

  &--thumbnails {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -$space / 2;

    > div {
      margin: 0 $space / 2 $space;
      width: calc(100% / 3 - #{$space});
    }
  }
}
