// ---------- Image overlay styles

.image-wrapper {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.overlay-fade-in {
  img {
    transition: all $transition300ms linear;
  }

  a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    opacity: 0;
    margin-top: 30%;
    transition: all $transition300ms ease-in-out;
  }

  .image-overlay-content {
    opacity: 0;
    background-color: $white;
    transition: all $transition300ms ease-in-out;
  }

  &:hover {
    .image-overlay-content {
      opacity: 1;
    }

    a {
      opacity: 1;
      transition-delay: $transition300ms;
    }
  }
}
