// ---------- Portfolio thumbnails styles

.column {
  padding: 7.5px;
}

.reveal-overlay {
  background-color: $white;

  .reveal {
    border: 0;
    padding: 0;
    text-align: center;

    &:focus {
      border: 0;
      outline: none;
    }

    .close-button {
      font-size: 21px;
      top: 16px;
      right: 26px;
      transition: color $transition300ms ease-in;
    }
  }
}
