// ---------- Shop styles

.shop {
  .tabs-title {
    a {
      padding: 3.2px;

      &:focus,
      [aria-selected='true'] {
        background: $transparent;
      }
    }

    &.is-active {
      color: $black;
      background-color: $yellow;
    }
  }

  .tabs,
  .tabs-content {
    background: transparent;
    border: 0;
  }
}
