.slider {

}

.tns {

  &-ovh {
    z-index: 9;
  }

  &-nav {
    display: none;
  }

  &-controls {
    position: relative;
    z-index: 10;
    margin-top: -$space;
    button {
      background-color: transparent;
      border: 0;
      margin-right: $space / 2;

      &:focus {
        outline: 0;
      }
    }
  }
}
