.text {
  margin-bottom: $space;

  p,
  ul,
  ol {
    strong {
      background-color: $yellow;
      font-weight: normal;
    }
  }

  ul,
  ol {
    padding-left: 1.1em;
  }

  a {
    &::before {
      content: '→';
    }
  }
}
