// ---------- SCSS mixins

// Layout mixins
// ----------------------------------------
// Breakpoint manager mixin
@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);

  @if $type == string {
    $class: $min;
    @if $class == xs {
      @media (max-width: $screen-xs) {
        @content;
      }
    } @else if $class == sm {
      @media (max-width: $screen-sm) {
        @content;
      }
    } @else if $class == md {
      @media (max-width: $screen-md) {
        @content;
      }
    } @else if $class == lg {
      @media (max-width: $screen-lg) {
        @content;
      }
    } @else {
      @warn 'Breakpoint mixin supports: xs, sm, md, lg';
    }
  } @else if $type == number {
    $query: 'all' !default;
    @if $min != 0 and $max != 0 {
      $query: '(min-width: #{$min}) and (max-width: #{$max})';
    } @else if $min != 0 and $max == 0 {
      $query: '(min-width: #{$min})';
    } @else if $min == 0 and $max != 0 {
      $query: '(max-width: #{$max})';
    }

    @media #{$query} {
      @content;
    }
  }
}

// Font mixins
// ----------------------------------------
// Neue Haas Grotesk font
@mixin font-grotesk {
  font-family: $font-regular;
  font-style: normal;
  font-weight: 500;
}

// Typography mixins
// ----------------------------------------

@mixin regular-text {
  @include font-grotesk;
  font-size: 21px;
  line-height: 28px;
}
