// ---------- SCSS variables

// Typography variables
$font-regular: 'neue-haas-grotesk-text', sans-serif;

// Color variables
$white: rgb(255, 255, 255);
$yellow: rgba(255, 255, 0, 1);
$grey: rgba(138, 138, 138, 1);
$black: rgba(0, 0, 0, 1);
$transparent: rgba(255, 255, 255, 0);

// Layout variables
$space: 28px;
$border-width: 1px;
$transition300ms: 300ms;
$content-min-height: 645px;
$nav-width: 400px;
$content-width: 800px;

// Breakpoint variables
$screen-xs: 400px;
$screen-sm: 800px;
$screen-md: 1000px;
$screen-lg: 2600px;
