.content {
  max-width: $content-width;

  > section, > h1 {
    padding: 0 $space;

    &:first-child {
      margin-top: $space;
    }
  }

  @media (min-width: #{$nav-width * 2 + $content-width}) {
    margin-left: calc((100vw - #{$nav-width * 2 + $content-width}) / 2)
  }
}
