.layout {
  display: flex;
  flex-wrap: nowrap;

  .nav {
    width: $nav-width;

    @include breakpoint(md) {
      position: absolute;
      width: 100%;
    }
  }

  .content {
    width: calc(100% - #{$nav-width});

    @include breakpoint(md) {
      width: 100%;
      margin-top: $space * 4;
    }

    @include breakpoint(xs) {
      margin-top: $space * 6;
    }
  }
}
