$spacer: 2em;

.menu {
  background-color: $transparent;
  padding: $space;

  @include breakpoint(md) {
    background-color: $white;
    padding: 0;
  }

  &__title {
    margin: 0 0 $space * 3;

    @include breakpoint(md) {
      margin: 0;
      padding: $space;
      display: flex;
      justify-content: space-between;
    }
  }

  &__pages {
    @include breakpoint(md) {
      &.--parent {
        width: 100%;
        padding: $space * 2 $space $space;
        position: absolute;
        left: -100%;
        background-color: $white;
        transition: left $transition300ms ease-in;

        &.--open {
          left: 0;
        }
      }
    }
  }

  &__type {
    display: inline-block;
    width: $spacer;
  }

  ul {
    list-style-type: none;

    li {
      &.--active > a {
        background-color: $yellow;
      }

      a {
        display: flex;
      //  line-height: 1;
      }
    }

    > li > ul {
      margin-left: $spacer;
    }
  }
}
